<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
			<title>Xpaths and Predicted Values</title>
		</head>


	<body>
		<center>
			<h1>{{ title }}</h1>

			<p>
				<a href="{{ url_for('pie') }}">Pie Chart!</a><br>
			</p>
			<p>
				<a href="{{ url_for('bar') }}">Bar Chart!</a><br>
			</p>
			<p>
				<a href="{{ url_for('line') }}">Line Chart!</a>
			</p>
			<iframe width="600" height="800" src="https://datastudio.google.com/embed/reporting/9913e5aa-f1ae-4b38-92cb-9c613d1bc0b8/page/1M" frameborder="0" style="border:0" allowfullscreen></iframe>
		</center>
	</body>
</html>
